{% extends "base.html" %}

{% block head  %}
<title>"Кочевник" туристическая база</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='indexjs.js') }}" defer></script>
{% endblock %}

{% block content %}
<p class="tegintop"><ins>Главная страница {{ visits }}</ins></p>
<p class="maintext">Кафе "Кочевник" - непревзойденное обещание максимального <br> качества по привлекательным ценам</p>
<div class="main">
<div class="food">
    <div class="foodsrtoka">
        
        <div class="foodkartochka">
                <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>
        </div>

        <div class="foodkartochka">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>


        <div class="foodkartochka1">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>

        <div class="foodkartochka2">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>

        <div class="foodkartochka3">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>

        <div class="foodkartochka4">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>

        <div class="foodkartochka5">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>


        <div class="foodkartochka6">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>

        <div class="foodkartochka7">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>


        <div class="foodkartochka8">

            <img src="{{ url_for('static', filename='/images/Rectangle 6.jpg') }}" class="foodimg">
                <p class="namefood">Буузы</p>
                <hr class=" foodhr">
                     <ul class="ulfood">
                        <li><div class="price"><p class="pricetext">75р</p><p class="gramm">1шт/75г</p></div></li>
                        <li><div class="sum">
                            <div class="Rectangleleft">
                                <p class="minus">-</p>
                            </div>
                            <div class="kols"><p>0</p></div>
                            <div class="plus"><p>+</p></div>
                        </div></li>
                        
                     </ul>

        </div>
    </div>
</div>
<p class="hoteltext">Мы позаботились о вашем отдыхе и подготовили чистые, уютные номера</p>
<div class="hotel">
<div class="hotelstroka">
    <div class="hotelkartochka">
        <img src="{{ url_for('static', filename='/images/image 4.jpg') }}">
        <div class="namehotel"><p class="namehoteltext">Название номера</p></div>

    </div>
    <div class="hotelkartochka">
        <img src="{{ url_for('static', filename='/images/image 4.jpg') }}">
        <div class="namehotel"><p class="namehoteltext">Название номера</p></div>

    </div>

    <div class="hotelkartochka1">
        <img src="{{ url_for('static', filename='/images/image 4.jpg') }}">
        <div class="namehotel"><p class="namehoteltext">Название номера</p></div>

    </div>

    <div class="hotelkartochka2">
        <img src="{{ url_for('static', filename='/images/image 4.jpg') }}">
        <div class="namehotel"><p class="namehoteltext">Название номера</p></div>

    </div>

    

</div>

</div>

</div>
{% endblock %}